<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Management</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>List of Files</h1>
    <ul>
      <% files.forEach(file => { %>
      <li><a href="/data/<%= file %>"><%= file %></a></li>
      <% }); %>
    </ul>
    <a href="/views/create">Create New File</a>
  </body>
</html>
